# Database file location
database = ~/.local/share/m/db

# ID3 mapping, only applicable if mp3 support is enabled
# This is a comma separated list containing key:value pairs.
id3mapping = TALB:ALBUM,\
	TSOA:ALBUMSORT,\
	XSOA:ALBUMSORT,\
	TSST:DISCSUBTITLE,\
	TIT1:GROUPING,\
	TIT2:TITLE,\
	TSOT:TITLESORT,\
	XSOT:TITLESORT,\
	TIT3:SUBTITLE
