# Database file location
database = ~/.local/share/m/db

# Database format (verbose, binary)
databaseformat = verbose

# Fix the filesystem (true, false)
fixfilesystem = true

# Library root
library = /mnt/data/music

# Glob patterns of files/directories that should be excluded
exclude = *Giant*

# Search keys to use when searching, only these tags wil be searched
searchkeys = ARTIST,ALBUM

# Database index. There can be multiple. It describes the structure of the
# database in which is searched. See Print Format for the format specificaiton.
databaseindex = $tag{artist,ARTIST}
databaseindex = $tag{album,ALBUM}
databaseindex = $tag{date,DATE}

# Print format
# Escaping can be done with \. E.g. \$ prints a literal $
# ${tagname} can be used to substitute the specifier with the tag.
# $fun{arg1, ...} is used to do some simple processing with functions.
# All other text is interpreted as literal strings.
#
# Available functions:
# - tag{t1, fallback}
#   Tries to output tag t1, if it's not present, output fallback
# - filepath{}
#   Outputs the filepath
# - if{condition, then, else}
#   If the condition is not empty, output then, otherwise else
# - plus{a,b}
#   Outputs the sum of a and b
# - min{a,b}
#   Outputs the subtractions of a and b
# - abs{a}
#   Outputs the absolute value a
format = $filepath{} -- $lpad{$tag{discnumber, nd},0,$plus{1,2}} - albumartist: $tag{albumartist, $tag{artist, Unknown artist}}\, title: $tag{title, Unknown title} $tag{bork, Borked}
#format = $fallback{$tag{albumartist},$tag{artist}} - $tag{title}
#format = literal - $noargs{} - $onearg{arg1}  - $twoarg{arg1,arg2} - $threearg{arg1,arg2, arg3}\
#	$nested{$nested{}} - $nested{$nested1{abc}, $nested2{def, geg}}
#format = $noargs{} - $onearg{arg1} - $twoarg{arg1,arg2} - $threearg{arg1,arg2, arg3}

# ID3 mapping, only applicable if mp3 support is enabled
# This is a comma separated list containing key:value pairs.
# User tags (TXXX) are assumed to be a list of two items, the first being the
# tagname and the second the value
# This mapping below is the default mapping. Duplicates automatically overwrite
# the previous value.
# If a tag is not in the mapping, it will be used as the name
id3mapping = TALB:ALBUM,\
	TSOA:ALBUMSORT,\
	XSOA:ALBUMSORT,\
	TSST:DISCSUBTITLE,\
	TIT1:GROUPING,\
	TIT2:TITLE,\
	TSOT:TITLESORT,\
	XSOT:TITLESORT,\
	TIT3:SUBTITLE,\
	TPE2:ALBUMARTIST,\
	TSO2:ALBUMARTISTSORT,\
	TPE1:ARTIST,\
	TSOP:ARTISTSORT,\
	XSOP:ARTISTSORT,\
	TEXT:AUTHOR,\
	TCOM:COMPOSER,\
	TPE3:CONDUCTOR,\
	TPUB:PUBLISHER,\
	TPE4:REMIXER,\
	TPOS:DISCNUMBER,\
	TRCK:TRACKNUMBER,\
	POPM:RATING,\
	TYER:DATE,\
	TDRC:DATE,\
	TDOR:ORIGINALDATE,\
	TSRC:ISRC,\
	TCMP:COMPILATION,\
	TENC:ENCODED-BY,\
	TSSE:ENCODER,\
	TMED:MEDIA,\
	TCON:GENRE,\
	TMOO:MOOD,\
	TBPM:BPM,\
	COMM:COMMENT,\
	TCOP:COPYRIGHT,\
	TLAN:LANGUAGE,\
	WCOP:LICENCE,\
	USLT:LYRICS,\
	TXXX:ALBUMARTISTSORT:ALBUMARTIST2

#	IPLS:arranger,\
#	IPLS:engineer,\
#	IPLS:DJ-mix,\
#	IPLS:mix,\
#	IPLS:producer,\
#
#	TEXT:LYRICIST
